<!-- <div class="container-fluid">
    <div class="row rowMain">
        <div class="col-md-6 col-lg-6 firstHalf"><div class="firsthalfcontent">
            <h1>log in</h1>
            <form action="/action_page.php">
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:<a href="#" class="forgor">forgot Password </a></label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter you password" name="pswd">
                </div>
                <div class="form-group form-check2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"><span class="keepTxt"> Keep me logged in</span>
                  </label>
                </div>
                <button type="submit" class="btn btnAll">Log In</button>
              </form>
              <label>dont have an account?<a [routerLink]="['/data']">sign up </a></label>
              
            </div>
        </div>
       
        <div class="col-md-6 col-lg-6 secondHalf">
            
            <div class="secondHalfContents">
                <h2 class="text1">Browse our pre-defined small shopify tasks</h2>
            <div class="box1">
                <div class="row contentmain">
                    <div class="col-sm-3 col-md-3 productimage">
                        <div class="productImageMain">
                            <img src="/assets/bg1.jpg" class="proimg">
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9 productcontentmain">
                        <p class="producttitle">Suede Slip On</p>
                        <p class="productPrice">Us 11.5</p>
                    </div>
                </div>
                <div class="row contentmain">
                    <div class="col-sm-3 col-md-3 productimage">
                        <div class="productImageMain">
                            <img src="/assets/bg1.jpg" class="proimg">
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9 productcontentmain">
                        <p class="producttitle">White Leather</p>
                        <p class="productPrice">Us 11.5</p>
                    </div>
                </div>
                <a href="#" class="btn btnAll">Continue to Checkout</a>
            </div>
            </div>
        </div>
    </div>
  </div> -->
  <router-outlet></router-outlet>